In [5]:
a = 10
b = 20

In [6]:
a + b

30

In [7]:
a * b

200

In [8]:
a / b

0.5

In [9]:
def mysum(a,b):
    return a+b

In [10]:
mysum(10,20)

30

In [11]:
def mymult(a,b):
    return a * b

In [12]:
mymult(20,30)

600

In [13]:
mymult(30,40)

1200

In [14]:
res = mysum(30,20)

In [15]:
res

50

In [16]:
def mycal(a,b):
    mult = mymult(a,b)
    msum = mysum(a,b)
    return mult,msum

In [17]:
mymult, mysum = mycal(10,20)

In [18]:
mymult

200

In [19]:
mysum

30

In [20]:
def checkEvenNumber(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [21]:
checkEvenNumber(22)

True

In [27]:
Take two numbers
Check if first number is even
If first number is even, multiply them
Else product them
Return the result

In [23]:
def myMainCode(num1, num2):
    checkEven = checkEvenNumber(num1)
    
    if checkEven:
        res = mymult(num1, num2)
    else:
        res = mysum(num1, num2)
        
    return res

In [30]:
myMainCode(100,200)

TypeError: 'int' object is not callable

In [26]:
Problem Statement :

Jack & Jill Game
Jack increments by 2
Jill decrements by 1

In [48]:
value = 0 

def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [49]:
i = 0
while i < 10:
    jackFunc()
    i += 1

In [51]:
value

20

In [52]:
value = 0 

def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [53]:
i = 0
while i < 10:
    value = jillFunc(value)
    i += 1

In [54]:
value

-10

In [ ]:

Problem Statement :

1. Write a function a takes a string
2. Check if the string contains a vowel ( a )
3. If it does, print it once 
4. Or, print the word two times

Solution :

1. Write a function to check if the word contains vowel
2. Use the output from above to print desired number of times

In [55]:
def checkIfWordConatins(word, checkalpha):
    for ch in word:
        if ch in checkalpha:
            return True
    return False

In [56]:
checkIfWordConatins('sst','xyz')

False

In [57]:
def printWordTimes(word,times):
    for t in range(times):
        print (word)

In [58]:
def myUtilityCode(word, checkalpha, times):
    check = checkIfWordConatins(word, checkalpha)
    if check:
        print (word)
    else:
        printWordTimes(word, times)

In [59]:
myUtilityCode('Hello','el',3)

Hello

In [60]:
myUtilityCode('Hello','xy',3)

Hello
Hello
Hello

In [ ]:
Default Params

In [61]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age,location)

In [62]:
printMyDetails('Edyoda',3,'Bangalore')

Edyoda 3 Bangalore

In [63]:
printMyDetails('Edyoda','abc')

Edyoda abc Karnataka

In [ ]:
Named Parameters

In [64]:
def printMyDetails(name, age=18, location='Karnataka'):
    print (name,age)

In [65]:
printMyDetails(age=20, name='abcdef', location='Mumbai')

abcdef 20

In [ ]:
Variable Arguments

In [ ]:
*packing

In [66]:
def mySum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [67]:
def mySum(*args):
    return sum(args)

In [68]:
mySum(10,20)

30

In [69]:
mySum(10,20,30)

60

In [ ]:
* Unpacking

In [70]:
l = ['blore','edyoda',10]

In [71]:
def printDetails(loc, name, age):
    print (loc, name, age)

In [72]:
printDetails(*l)

blore edyoda 10

In [ ]:
Named Packing

In [73]:
def myFunc(name, loc, age):
    if name == 'abc':
        print (name)
    else:
        print (loc,age)

In [74]:
myFunc(loc='mumbai',age=10,name='abc')

abc

In [75]:
def myFunc(**kwargs):
    if kwargs['name'] == 'abc':
        print (kwargs['name'])
    else:
        print (kwargs['loc'], kwargs['age'])
    
    if 'name' in kwargs:
        print (kwargs['name'])

In [76]:
myFunc(loc='mumbai',age=10,name='bcd')

mumbai 10
bcd

In [77]:
myFunc(location='mumbai',age=10,name='abc')

abc
abc

In [ ]:
Problem :

* mySumFunc(10,20,11,21,23)
* mySumFunc(10,20,11,21,23,445,2323)
* Multiply all the even numbers

In [78]:
def myMultFunc(*nums):
    res = 1
    for num in nums:
        if num %2 == 0:
            res *= num
    return res

In [79]:
myMultFunc(10,20,22,23)

4400