In [1]:
print("hi")

hi

In [ ]:
execution :
    ctrl + enter
    shift + enter
    add line up : Esc + A
    add line bottom : Esc + B

In [ ]:
Datatypes :
    1. int 10 20 30
    2. float 10.235 27.367
    3. str 'hi' "python" """welcome to python""" : It is the collection of Characters
    4. list [10,20,30,40][10,20,30,"python","java"[10,20,3,3,0]] : collection of elements , str or integers
    5. tuple (10,20,30,40,"python","java") : collection of elements and elements can be anything
    6. dict {"email":"gagangowdru8506@gmail.com","contact":"1234567890","age":"76"} : collection of key and value
    7. set {10,20,30,40} : collection of elements
    8. bool True False
    None

In [ ]:
everything in python is object

In [7]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [ ]:
PEP 8 => guidelines about how ur python code should look (python extension proposal)

In [ ]:
Python allows only one special character i.e, _(under_score)

In [ ]:
num_one = 100    (Variable)means which holds the data or value
FILE_LOCATION = ""     (Constant)means it is a value cant be change or altered by the program during execution

In [ ]:
FIRST_LOCATION = "Gagan"

In [ ]:
* Always give a meaningful variable names
1. underscore first_name
2. for variable name it should be with lower_case alphabet
3. for constant all CAPS
4. digits are allowed but not at the start , only special character allowed is _

In [8]:
name = "ABC"
print(type(name))

<class 'str'>

In [10]:
print(10,20,30)

10 20 30

In [13]:
d = {1:2 , 3:4}
print(type(d))

<class 'dict'>

In [ ]:
Imutable vs Mutable

In [ ]:
id() : memory location

In [15]:
num1 = 100
print(num1,id(num1))

num1 = 200
print(num1,id(num1))

100 140720611175920
200 140720611179120

In [ ]:
Memory Loaction :
    1. Immutable : at same memory lopcation I can not change the value
    2. Mutable : I can change the value at same memory location

In [17]:
s = "Python"
print(id(s))
s = "Java"
print(id(s))

1650789152048
1650796588336

In [18]:
l = [10,20,30,40]
print(id(l))
l.append(50)
print(id(l))

1650832105160
1650832105160

In [ ]:
Mutable : Add , Update and Delete operations
Immutable : Can not perform add , update and delete

In [ ]:
Immutable :
    int
    float
    str
    tuple
    
Mutable : (Add,Update and Delete)
    list
    dict
    set

In [22]:
s = {10,20,20,30,30,40}
print(type(s),s)
s = {10,20,30,40}
print(type(s))

<class 'set'> {40, 10, 20, 30}
<class 'set'>

In [ ]:
type() : to find data types
id() : to find memory location

In [24]:
num1 = 100
num2 = 100
print(id(num1),id(num2))
num1 = 1000
num2 = 1000
print(id(num1),id(num2))

140720611175920 140720611175920
1650832466384 1650832466800

In [ ]:
Python allows in default the numbers only in the range of 0 - 256
0 - 256 => object intering

In [26]:
s1 = "Python"
s2 = "Java"
print(s1 + s2)
s1 = "Python"
s2 = "java"
print(s1 - s2)

PythonJava

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
Operators :
    1. Arthmetic Operators :
        + => Addition
        - => Substraction
        * => Multiplication
        / => true division (because it gives true value with decimals)
        // => floor division (it gives values without decimals)
        % => Modules (gives remainder)
        ** => powers
    2. Comparision Operators : It always gives us the answer is True or False
        == , < , > , <= , >= , !=
    3. Membership Operators : in not in (This is only used in Iterable and cant be used in not Iterable) 
        incase of dictionary in/not in will only check with keys , will not check with the values
    4.Identity Operator : is is not
    5.Assignment Operator : = , += , -= , *=  , /=
    6.Logical Operator : and or not

In [29]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 * 3)
print(10 + 3)
print(10 - 3)
print(10 ** 3)

3.3333333333333335
3
1
30
13
7
1000

In [32]:
s1 = "Python"
s2 = "python"
print(s1 == s2)
s1 = 10
s2 = 5
print(s1 > s2)
print(s1 < s2)
print(s1 >= s2)
print(s1 <= s2)

False
True
False
True
False

In [37]:
l = [100,200,300,400,500]
print(4000 in l)
a = "python"
print("n" in a)
b = "Java"
print("a" not in b)
print(5 in 500)

False
True
False

TypeError: argument of type 'int' is not iterable

In [ ]:
Not Iterable :
    int , float
Iterable : Means collection values
    str , tuple , list , dict , set

In [41]:
d = {1:100 , 2:200 , 3:300}
print(3 in d)
print(300 in d)

True
False

In [43]:
num1 = 100
num2 = 100
print(num1 == num2)
print(num1 is num2)

True
True

In [48]:
l1 = [10,20,30]
l2 = [10,20,30]

print(l1 == l2)
print(l1 is l2)

True
False

In [ ]:
== => values
is => memory allocation

In [49]:
num1 = 100
print(num1)

num1 += 10
print(num1)

num1 -= 5
print(num1)

100
110
105

In [ ]:
Logical Operator :

In [50]:
print(100 == 100 and 100 != 100)

False

In [51]:
print(100 != 100 and 100 == 100)

False

In [52]:
print(100 == 100 or 100 != 100)

True

In [ ]:
True/False :
    Comparsion
    Membership
    Logical
    Identity

In [ ]:
Overview

In [ ]:
type()
id()

In [53]:
num1 = 25
num2 = 25
print(id(num1))
print(id(num2))

140720611173520
140720611173520

In [54]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1))
print(id(l2))

1650832206856
1650829794376

In [ ]:
immutable : cant change the value with different memory location
    int
    float
    tuple
mutable :
    list dict set

In [ ]:
Iterable :
    str list dict set tuple
not iterable :
    int float

In [ ]:
in operator not work with int , float and works with dict only in terms of keys not values

In [ ]:
== checks the values
is checks the memory location